body{
    margin: 10px;
}

.add-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.action-btn{
    margin-right: 20px;
}
  
mat-form-field {
    width: 100%;
}

.table-container {
    overflow: auto;
}

.errorMessage {
    color: red;
    font-weight: bold;
    font-size: 12px;
}