<body>
  <mat-card>
    <mat-card-content>
      <mat-card-title>Manage Stock</mat-card-title>
    </mat-card-content>
  </mat-card>

  <br>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Add New Product</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="add-form">
      <mat-form-field>
        <mat-label>Product Code</mat-label>
        <input matInput [(ngModel)]="product.prodCode">
        <mat-error>Product Code is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Product Name</mat-label>
        <input matInput [(ngModel)]="product.prodName">
        <mat-error>Product Name is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput type="number" [(ngModel)]="product.quantity">
        <mat-error>Quantity is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="number" [(ngModel)]="product.price">
        <mat-error>Price is required.</mat-error>
      </mat-form-field>

    </div>
    <!-- ngIf empty field -->
    <div *ngIf="errorMessage != null">
      <p class="errorMessage">{{errorMessage}}</p></div>
    <button mat-raised-button color="primary" (click)="addProduct()">Add Product</button>
  </mat-expansion-panel>

  <br>

  <mat-card>
    <mat-card-content>
      Available Stock<br>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput placeholder="Insert product code or name" [(ngModel)]="searchKey">
      </mat-form-field>
      <div class="table-container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Product Code</th>
              <th scope="col">Product Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Date Added</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="( products | search: searchKey) as results">
              <tr *ngFor="let product of results">
                <td>{{ product.prodCode }}</td>
                <td>{{ product.prodName }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.dateAdd | date:'dd/MM/yyyy' }}</td>
                <td>
                  <button mat-raised-button class="action-btn" color="primary" (click)="updateProduct(product)">Update</button>
                  <button mat-raised-button color="warn" (click)="deleteProduct(product)">Delete</button>
                </td>
              </tr>
              <p *ngIf="results.length === 0" class="no-records">No Records Found</p>  
            </ng-container>
          </tbody>     
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</body>