<h2 mat-dialog-title>Update Staff</h2>
<div mat-dialog-content>
    <form>
        <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input matInput [(ngModel)]="updatedUser.name" name="name" placeholder="Enter username" required>
            <mat-error>Full Name is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="updatedUser.email" name="email" placeholder="Enter email" required>
            <mat-error>Email is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="updatedUser.password" name="password" placeholder="Enter email" required>
            <mat-error>Password is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Telephone Number</mat-label>
            <input matInput [(ngModel)]="updatedUser.telno" name="telno" placeholder="Enter tel no" required>
            <mat-error>Telephone Number is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput [(ngModel)]="updatedUser.address" name="address" placeholder="Enter address" required>
            <mat-error>Address is required.</mat-error>
        </mat-form-field>    
    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSaveClick()">Save</button>
</div>